* {
  --font-size-editor-lg: 13px;
  --line-height-lg: normal;
  --font-size-editor-md: 12px;
  --font-size-editor-s: 10px;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  min-height: 100vh;
  font-family: system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

.label-title {
  font-size: calc(0.35em + 0.35vw);
  font-weight: bold;
}

.data-box {
  display: flex;
  flex-direction: row;
  padding: 0.35rem 0 0.35rem 0;
}

.dependencies-box {
  display: flex;
  flex-direction: column;
  max-height: 200px;
}

.data-box label,
.data-box .section-label {
  min-width: 20%;
  margin: auto 1rem auto -1rem;
  text-align: right;
}

.data-box input,
.section-input input {
  border-radius: 0;
  border: none;
  border-bottom: solid 1px #f1efee;
  font-size: calc(0.35em + 0.35vw);
}

.data-box input:hover,
.section-input input:hover {
  outline: none;
  border-bottom: solid 1px #c12127;
}

.data-box input:focus,
.section-input input:focus {
  outline: none;
  border-bottom: solid 1px #c12127;
}

.data-box input,
.data-box .section-input {
  min-width: 70%;
}

.section-input input {
  width: 100%;
}

.input-form {
  padding: 0.25rem 0 0.25rem 0;
}

.invisible {
  display: none;
}
